.container {
  display: flex;
}

* {
  box-sizing: border-box;
}

/* Heaser CSS */

.exp_empty {
  position: absolute;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  top: 62px;
  left: 28px;
  background-color: #E4E4E4;
}

.exp_fill {
  position: absolute;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  top: 62px;
  left: 28px;
  box-shadow: 0px 0px 1px 0px #000000;
}

.levelNum {
  position: absolute;
  /* padding: 16px 8px; */
  border-radius: 100%;
  width: 65px;
  height: 65px;
  top: 67px;
  left: 33px;
  background-color: #E8B487;
}

.levelNum h2 {
  font-family: "Andika", sans-serif;
  text-align: center;
  padding: 11px;
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
}

.level {
  position: absolute;
  width: 60px;
  height: 25px;
  top: 121px;
  left: 36px;
  border-radius: 15px;
  background-color: #A4A4A4;
  box-shadow: 2px 2px 4px #0000007e;

}

.level h3 {
  font-family: "Andika", sans-serif;
  text-align: center;
  padding: 4px;
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
}

.money {
  position: absolute;
  text-align: center;
  z-index: 10;
  width: 288px;
  height: 35px;
  top: 77px;
  left: 124px;
  border-radius: 22px;
  background-color: #FFFFFF;
  border: 1px solid #A1A1A1AD;
}

.money p {
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 10px;
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  text-shadow: 1px 1px 2px #0000007e;
}

.clicks {
  position: absolute;
  text-align: center;
  width: 226px;
  height: 35px;
  top: 104px;
  left: 155px;
  border-radius: 22px;
  background-color: #E4E4E4;
  border: 1px solid #A1A1A1AD;
}

.clicks p {
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 14px;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  text-shadow: 1px 1px 2px #0000007e;
}

/* Robot CSS */

.enemies {
  position: absolute;
  top: 180px;
  left: 42px;
}

.progress-bar {
  position: absolute;
  width: 343px;
  height: 46px;
  top: 530px;
  left: 45px;
  border-radius: 22px;
  background-color: #BEDF75;
  border: 1px solid #A1A1A1AD;
  box-shadow: 1px 1px 4px #0000007e;
  overflow: hidden;
}

.progress-bar_fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 22px;
  box-shadow: 1px 1px 4px #0000007e;
  transition: width 0.5s ease-out, background-color 0.5s ease-out;
}

.progress_lable {
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 14px;
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  text-shadow: 1px 1px 2px #0000007e;
  position: relative;
  z-index: 1;
}
